/StudySolution/App/obj/Debug/*.Cache
/StudySolution/App/obj/Debug/*.cache
/StudySolution/ATMSolution/obj/Debug/*.Cache
/StudySolution/ATMSolution/obj/Debug/*.cache
/StudySolution/BookManager/obj/Debug/*.cache
/StudySolution/Unity/obj/Debug/*.cache
/StudySolution/ATMSolution/bin/Debug/Data/TransInfo/*.d
/StudySolution/ATMSolution/bin/Debug/Data/UserInfo/*.d
/StudySolution/BookManager/Data/TransInfo/*.d
/StudySolution/BookManager/Data/UserInfo/*.d
/StudySolution/ATMSolution/bin/Debug/*.dll
/StudySolution/BookManager/bin/*.dll
/StudySolution/BookManager/obj/Debug/*.dll
/StudySolution/Unity/bin/Debug/*.dll
/StudySolution/Unity/obj/Debug/*.dll
/StudySolution/App/bin/Debug/*.exe
/StudySolution/App/obj/Debug/*.exe
/StudySolution/ATMSolution/bin/Debug/*.exe
/StudySolution/ATMSolution/obj/Debug/*.exe
